Source: jaiabot
Priority: extra
Maintainer: Toby Schneider <toby@gobysoft.org>
Build-Depends: cdbs (>= 0.4.130~),
               debhelper (>= 9.0~),
               cmake (>= 3.5.1~),
               clang (>= 1:3.8~),
               libgoby3-dev,
               libgoby3-moos-dev,
               libgoby3-gui-dev,
               goby3-interfaces [amd64],
               goby3-clang-tool [amd64],
               protobuf-compiler,
               libnanopb-dev,
               nanopb,
               python3-protobuf [amd64]
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/jaiarobotics/jaiabot

Package: libjaiabot-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libjaiabot (= ${binary:Version}),
         libgoby3-dev,
         libgoby3-moos-dev,
         libgoby3-gui-dev
Description: Developers' package for the Jaiabot Project
 Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.

Package: libjaiabot
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for the Jaiabot Project
 Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.

Package: jaiabot-apps
Depends: libjaiabot (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: any
Description: Applications for the Jaiabot Project
 Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.

Package: jaiabot-python
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: science
Architecture: all
Description: Python applications and virtual environment (venv) for the Jaiabot Project
 Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.

Package: jaiabot-doc
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: doc
Architecture: all
Description: Documentation for the Jaiabot Project
 Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.

Package: jaiabot-interfaces
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: doc
Architecture: all
Description: Interfaces definition files for the Jaiabot Project
  Jaiabot provides binaries and libraries for the Jaiabot Autonomous Underwater Vehicle.
