#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input high jaiabot-embedded/type || true
db_go

db_input low jaiabot-embedded/mode || true
db_go

db_get jaiabot-embedded/mode
JAIA_MODE=$RET

if [ "$JAIA_MODE" = "simulation" ]; then
    db_input low jaiabot-embedded/warp || true
    db_go
fi

db_get jaiabot-embedded/type
JAIA_TYPE=$RET
if [ "$JAIA_TYPE" = "bot" ]; then
    db_input high jaiabot-embedded/bot_id || true
    db_go

    db_input high jaiabot-embedded/arduino_type || true
    db_go
elif [ "$JAIA_TYPE" = "hub" ]; then
    db_input high jaiabot-embedded/hub_id || true
    db_go
fi

db_input high jaiabot-embedded/fleet_id || true
db_go

db_input high jaiabot-embedded/n_bots || true
db_go

